.button {
    width: 170px;
    height: 48px;
    background-color: var(--css-black);
    color: var(--css-white);
    font-weight: 600;
    padding: 10px,16px;
    border: 2px solid var(--css-white);
    font-size: 16px;
    cursor: pointer;
}